* {
    box-sizing: border-box;
}

/* div {
    height: 200px;
    width: 150px;
    border: 10px solid red;
    color: rgb(253, 155, 9);
    font-weight: bolder;
    padding: 20px;
      
}
#sur{
    margin-bottom: 30px;
    width: 80%;
}
#kus{
    margin-top: 20px;
}
#cl{
    width: 80%;
    height: 50px; 
}
*/

p{
    font-size: 30px; 
}

#p1{
    font-size: 10px;
    background-color: chocolate;
    height: 30vh;
    width: 80vw;
}

p {
    font-size: 2em;
}

#element{
    position: absolute;
}