* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: rgb(137, 202, 202);
  justify-content: space-around;
  align-items: center;
  padding: 20px 80px;
  color: rgb(212, 152, 75);
}

nav div ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  cursor: pointer;
}
nav div button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

nav div button:hover {
  background-color: #d67070;
  color: rgb(59, 59, 211);
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(159, 197, 197);
  color: rgb(52, 110, 219);
  padding: 40px 10px;
}
.hero div {
  width: 50%;
  margin-left: 30px;
}
.hero div h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.hero div p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.hero div button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.hero div img {
  width: 50%;
  margin-left: 40%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 30px rgb(172, 10, 10);
}

.hero div img:hover {
  /* rotate: 1deg; */
  transform: rotate(1deg);
  transform: all 0.5s ease-in-out;
}

.logo-text {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo div img {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  object-fit: cover;
}

.three-card {
  margin: 20px 10%;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  padding: 40px 80px;
  box-shadow: 0 0 20px black;
  gap: 10px;
}
.card {
  border: 2px solid black;
  width: 50%;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 20px black;
}
.card img {
  width: 200px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
  padding: 5px;
}

.card h3 {
  margin: 20px 0;
}
.card p {
  margin-bottom: 10px;
}

/* MEDIA QUERY */

body {
  background-color: orange;
}

@media screen and (max-width: 976px) {
  body {
    background-color: lightgreen;
  }

  .three-card {
    flex-direction: column;
    justify-content: center;
  }
  .three-card div {
    width: 80%;
  }
}
